@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Mukta', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 40px;
    background-color: black;
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 31px;
    padding: 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.container{
   min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 35px;
    /* background-image: url(bg.jpg); */
}
.bottom{
    
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#myProgressBar{
    width: 80vw;
   
    
}
.icon{
    margin-top: 14px;
    cursor: pointer;
}
.songItemContainer{
          margin: 10px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 170%;
    color: black;
    margin: 15px 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    

}
.songItem img{
    width: 50px;
    margin: 0 13px;
    border-radius: 35px;
    
}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;

}
.songInfo img{
    margin: 4px 0;
    opacity: 0;
    transition:opacity 0.8s ease-in;
}